CREATE TABLE IF NOT EXISTS public.commission_payments (
    id UUID DEFAULT uuid_generate_v4() PRIMARY KEY,
    barbershop_id UUID REFERENCES public.barbershops(id) ON DELETE CASCADE,
    professional_id UUID REFERENCES public.professionals(id) ON DELETE CASCADE,
    amount NUMERIC(10,2) NOT NULL,
    commission_rate NUMERIC(5,2),
    gross_production NUMERIC(10,2),
    period_label TEXT,
    paid_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(),
    created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW()
);
